<div class="row">
        <div class="col-md-6">
                <form #f="ngForm">
                    <div class="form-group">
                    <input [(ngModel)]="myTask" name="myTask" type="text" class="form-control" placeholder="Enter Task name" required>
                    <input [(ngModel)]="priority" id="priority" name="priority" type="text" class="form-control" placeholder="Select Priority" required>
                    </div>

                    <div class="form-group">
                            <button class="btn btn-primary" [disabled]="!f.valid" (click)="saveTask()">
                                Save Task
                            </button>
                            </div>
                        </form>

                    <div class="form-group">
                        
                        <button type="button" onclick="setPriority(1)"  class="btn btn-danger">Urgent</button> &nbsp;&nbsp;
                        <button type="button" onclick="setPriority(2)" class="btn btn-warning">Days</button> &nbsp;&nbsp;
                        <button type="button" onclick="setPriority(3)" class="btn btn-primary">Week</button>
                    </div>
                   
        </div>
</div>