<table class="table table-hover table-dark" style="width: 40%;">
        <tr>
            <td>Urgent = Todays Date + 1 Day</td>
          </tr>
  
          <tr>
              <td>Days = Todays Date + 5 Days</td>
          </tr>
          <tr>
              <td>Weeks = Todays Date + 14 Days</td>
          </tr>
         
    </table>
    

<table class="table">

    <tr>
        <td>
                <div class="w-100" style="background-color: #eee;">
                        
                             <app-new-todo-item></app-new-todo-item>
            </div>
        </td>
    </tr>
    <tr>
            <td>
                    <app-todo-list></app-todo-list>
            </td>
        </tr>

</table>
    
    
