<!-- <section>
<app-dashboard></app-dashboard>
</section> -->
<br/>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" >
      <a class="nav-link active" [routerLink]="['/']" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/dashboard']" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active"  [routerLink]="['/about']" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">About Us</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link active" [routerLink]="['/login']" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">Login</a>
    </li>
  </ul>
  <br/>
  <br/>
     <router-outlet></router-outlet>
 
