<!-- <section>
<app-dashboard></app-dashboard>
</section> -->

<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active"  [routerLink]="['/about']">About Us</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link active" [routerLink]="['/login']">Login</a>
    </li>
  </ul>

<div id="content">
   <div class="container">
     <router-outlet></router-outlet>
   </div>
</div>
